@charset "UTF-8";
/* ----- reset ----- */
table {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}
tr{
	margin: 0px;
	padding: 0px;
}
th{
	margin: 0px;
	padding: 0px;
}
td{
	margin: 0px;
	padding: 0px;
}

/* ----- style ----- */
/* ----- 선수정보 검색창 ----- */
#search{
	width: 100%;
	height: 50px;
/* 	border: 2px solid green; */
	position: relative;
	display: block;
/* 	background: url("/resources/images/hashtag.png") no-repeat left; */
	background-size: inherit;
/* 	background-color: #dedede; */
/* 	opacity: 0.5; */
}
	.search-container{
/* 		border: 2px solid red; */
		width: 80%;
		height: 30px;
		position: absolute;
		top: 10px;
		left: 10%;
		display: block;
	}
		.search-input{
			width: 90%;
			height: 30px;
		}
		.search-button{
			position: absolute;
			width: 24px;
			height: 24px;
			top: 3px;
			right: 0px;
			text-indent: -999px;
			background: url("/resources/images/icons/icon-set.png") no-repeat -24px 0px;
		}
/* ----- 클럽 정보 창 ----- */
#club-info{
	width: 100%;
	height: auto;
/* 	margin-top: 10px; */
}
.club-container{
	width: 100%;
	height: auto;
	display: flex;
	border-top: 2px solid #bf2626;
	border-bottom: 2px solid #bf2626;
}
	.club-img{
		margin: 0 auto;
		width: 40%;
		height: 200px;
/* 		border: 1px solid black; */
	}	
	.club-profile{
		margin: 0 auto;
		width: 50%;
		height: 200px;
/* 		border: 1px solid black; */
	}
		.club-profile table{
			margin: auto;
			height: 200px;
		}
		.club-profile th{
			border-bottom: 1px solid #dedede;
			width: 80px;
			text-align: left;
		}
		.club-profile td{
			border-bottom: 1px solid #dedede;
			width: 100px;
			text-align: left;
		}
		
		
		
		
		