@charset "UTF-8";
/* ----- reset ----- */
table {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
th{
	margin: 0;
	padding: 0;
}
td{
	margin: 0;
	padding: 0;
}

/* ----- style ----- */
#player-info{
	width: 100%;
	height: auto;
}
.player-container{
	width: 100%;
	height: auto;
	display: flex;
	border-top: 2px solid #bf2626;
	border-bottom: 2px solid #bf2626;
}
	.player-img{
		margin: 0 auto;
		width: 40%;
		height: 200px;
/* 		border: 1px solid black; */
	}	
	.player-profile{
		margin: 0 auto;
		width: 50%;
		height: 200px;
/* 		border: 1px solid black; */
	}
		.player-profile table{
			margin: auto;
			height: 200px;
		}
		.player-profile th{
			border-bottom: 1px solid #dedede;
			width: 80px;
			text-align: left;
		}
		.player-profile td{
			border-bottom: 1px solid #dedede;
			width: 100px;
			text-align: left;
		}

.player-records{
	width: 100%;
	height: auto;
	border-top: 2px solid #bf2626;
	border-bottom: 2px solid #bf2626;
	margin: 0 auto;
	margin-top: 10px;
}
	.player-records table{
		width: 100%;
		height: 100%;
	}
	.player-records table tr:nth-child(2n){
		background: #dedede;
	}
	.player-records th{
		text-align: center;
		border-bottom: 1px solid #dedede;
	}
	.player-records td{
		text-align: center;
		border-bottom: 1px solid #dedede;
	}





